<%- include("partials/header"); -%>

<h1>Home</h1>

<p><%= homeStartingContent %></p>

<% posts.forEach(post => { %>
    <li><%= post.postTitle %></li>
    <li><%= post.postBody %></li>
<%});%>

<%- include("partials/footer"); -%>
